@import 'variables';
.container-fluid {
    //position: relative;
    margin: 0;
    .header {
        background: $color_black;
        .left-part {
            .big-logo,
            .small-logo,
            .tablet-logo,
            .search {
                @include middle-aligned-block();
            }
            .search {
                width: 400px;
                input {
                    padding-top: 7px;
                    padding-bottom: 7px;
                    width: 100%;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            .small-logo,
            .tablet-logo {
                img {
                    cursor: pointer;
                }
                i {
                    cursor: pointer;
                }
            }
            .big-logo {
                img {
                    cursor: pointer;
                }
            }
        }
    }
    .filter {
        -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
        height: 50px;
        .left-part {
            .set-height {
                height: 50px;
                width: 20px;
                @include middle-aligned-block();
            }
            .filter-item {
                @include middle-aligned-block();
                margin-right: 30px;
                cursor: pointer;
                i {
                    @include middle-aligned-block();
                }
                .filter-text {
                    @include middle-aligned-block();
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 1.1em;
                }
            }
        }
        .right-part {
            .set-height {
                height: 50px;
                width: 20px;
                @include middle-aligned-block();
            }
            .shortlist {
                @include middle-aligned-block();
                float: right;
                padding-right: 20px;
                border-left: 1px solid #f2f2f2;
                border-right: 1px solid #f2f2f2;
                cursor: pointer;
                .shortlist-text {
                    padding-left: 10px;
                    font-size: 1.25em;
                }
                i {
                    font-size: 1.5em;
                }
            }
        }
    }
    .category-filter {
        z-index: 1000;
        position: absolute;
        height: 220px;
        width: 200px;
        left: 90px;
        top: 104px;
        background: white;
        padding: 30px;
        -webkit-box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.75);
        label {
            cursor: pointer;
        }
    }
    .price-filter {
        z-index: 1000;
        position: absolute;
        height: 220px;
        width: 200px;
        left: 200px;
        top: 104px;
        background: white;
        padding: 30px;
        -webkit-box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.75);
        label {
            cursor: pointer;
        }
        .min-price,.max-price{
            margin-bottom: 20px;
        }
    }
    .brand-filter {
        z-index: 1000;
        position: absolute;
        height: 220px;
        width: 200px;
        left: 200px;
        top: 104px;
        background: white;
        padding: 30px;
        -webkit-box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.75);
        label {
            cursor: pointer;
        }
        .min-price,.max-price{
            margin-bottom: 20px;
        }
    }
    .content {
        margin: 0;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 20px;
        #map {
            position: absolute;
            left: 0;
            right: 350px;
            top: 0px;
            bottom: 0px;
        }
        .list {
            position: absolute;
            width: 350px;
            right: 0;
            top: 0px;
            bottom: 0px;
            padding: 15px;
            -webkit-box-shadow: -2px 0px 1px 0px rgba(205, 215, 230, 1);
            -moz-box-shadow: -2px 0px 1px 0px rgba(205, 215, 230, 1);
            box-shadow: -2px 0px 1px 0px rgba(205, 215, 230, 1);
            overflow-y: auto;
            list-style-type: none;
            margin: 0;
            li {
                margin-bottom: 20px;
                position: relative;
                cursor: pointer;
                img {
                    -webkit-border-radius: 12px;
                    -moz-border-radius: 12px;
                    border-radius: 10px
                }
                .description {
                    position: absolute;
                    bottom: 0;
                    height: 80px;
                    background: rgba(0, 0, 0, 0.45);
                    left: 0;
                    right: 0;
                    color: white;
                    padding: 10px;
                    .fees {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 1.5em;
                        .fees-text {
                            padding-left: 10px;
                        }
                    }
                    .entity-name {
                        font-size: 1.1em;
                        font-weight: bold;
                        padding-bottom: 2px;
                    }
                    .speciality,
                    .service {
                        font-size: 0.9em;
                        //font-weight: bold;
                        padding-bottom: 2px;
                    }
                }
                .fav-ico {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: 1.5em;
                    cursor: pointer;
                }
            }
        }
    }
    .entity-detail {
        position: absolute;
        background:white;
        right: 350px;
        top: 0px;
        bottom: 10px;
        -webkit-box-shadow: -2px 0px 1px 0px rgba(205, 215, 230, 1);
        -moz-box-shadow: -2px 0px 1px 0px rgba(205, 215, 230, 1);
        box-shadow: -2px 0px 1px 0px rgba(205, 215, 230, 1);
        overflow-y: auto;
        width: 450px;
        .close{
            position:absolute;
            top:0;
            left:0px;
            color: black;
            font-size: 40px;
            cursor: pointer;
        }
        .entity-images {
            #slider {
                position: relative;
                overflow: hidden;
                margin: 10px auto 0 auto;
                border-radius: 4px;
                ul {
                    position: relative;
                    margin: 0;
                    padding: 0;
                    height: 200px;
                    list-style: none;
                    li {
                        position: relative;
                        display: block;
                        float: left;
                        margin: 0;
                        padding: 0;
                        width: 450px;
                        height: 300px;
                        background: #000;
                        text-align: center;
                        line-height: 300px;
                        color: white;
                    }
                }
                a.control_prev,
                a.control_next {
                    position: absolute;
                    top: 40%;
                    z-index: 999;
                    display: block;
                    padding: 4% 3%;
                    width: auto;
                    height: auto;
                    background: #2a2a2a;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 18px;
                    opacity: 0.8;
                    cursor: pointer;
                }
                a.control_prev:hover,
                a.control_next:hover {
                    opacity: 1;
                    -webkit-transition: all 0.2s ease;
                }
                a.control_prev {
                    border-radius: 0 2px 2px 0;
                }
                a.control_next {
                    right: 0;
                    border-radius: 2px 0 0 2px;
                }
            }
        }
        .entity-content {
            background:white;
            padding:30px;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    display: inline;
                    a {
                        display: inline-block;
                        width: 25%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .footer {
        margin: 0;
        position: absolute;
        bottom: 0;
        height: 30px;
        left: 0;
        right: 0;
        //top:400px;
        background: $color_black;
    }
}

@media (max-width:600px) {
    .header {
        .left-part {
            .search {
                position: absolute;
                left: 80px;
                right: 10px;
                top: 7px;
                width: auto;
                .input {
                    width: 100%;
                }
            }
        }
    }
}
